[submodule "external/DiligentCore"]
	path = external/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
