[submodule "external/DiligentCore"]
	path = external/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/DiligentTools"]
	path = external/DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
[submodule "external/DiligentFX"]
	path = external/DiligentFX
	url = https://github.com/DiligentGraphics/DiligentFX.git
